/*导入字体*/
@font-face {
    font-family: "black";
    src:url("fonts/HarmonyOS_Sans_SC_Black.ttf"),
}

@font-face {
    font-family: "bold";
    src:url("fonts/HarmonyOS_Sans_SC_Bold.ttf"),
}

@font-face {
    font-family: "regular";
    src:url("fonts/HarmonyOS_Sans_SC_Regular.ttf"),
}

@font-face {
    font-family: "medium";
    src:url("fonts/HarmonyOS_Sans_SC_Medium.ttf"),
}

/*@font-face {*/
/*    font-family: "supblack";*/
/*    src:url("fonts/HarmonyOS_Sans_Condensed_Black.ttf"),*/
/*}*/

@font-face {
    font-family: "fzhtj";
    src:url("fonts/FangZhengHeiTiJianTi-1.ttf"),
}

@font-face {
    font-family: "pmzdbtt";
    src:url("fonts/PangMenZhengDaoBiaoTiTiMianFeiBan-2.ttf"),
}

@font-face {
    font-family: "zkklt";
    src:url("fonts/ZhanKuKuaiLeTi2016XiuDingBan-1.ttf"),
}

/*修改系统默认字体*/
:root {
    --font-primary: "regular","Nodesto",sans-serif !important;
    --font-size-12: 0.75rem !important;
    --font-size-20: 1rem !important;
}

/*修改伤害详述字体*/
.D35E.chat-card.item-card h2 {
    padding: 3px 0;
    border: none;
    flex: 1;
    margin: 0;
    line-height: 36px;
    font-family: "bold","Nodesto", "Signika", "Palatino Linotype", serif !important;
    font-size: 20px;
    color: black;
    opacity: 0.9;
    margin-bottom: 4px;
}

/*修改表头区域*/
.D35E.sheet .sheet-header {
    flex: 0 0 100px;
    border-bottom: 2px groove #eeede0;
    font-family: "regular","Nodesto", "Signika", "Palatino Linotype", serif !important;
    font-size: 16px !important;
    align-items: center;
}

/*!*种族位调整*!*/
/*element.style {*/
/*    font-family: "regular","Signika", sans-serif !important;*/
/*    font-size: 13px;*/
/*    opacity: 0.7;*/
/*}*/

/*.D35E.sheet.actor.character .sheet-header .race-container .race {*/
/*    height: 25px !important;*/
/*}*/



/*经验条大小*/
.D35E.sheet.actor .sheet-header .charlevel .experience {
    font-size: 13px !important;
}

/*!*————————能力——————————*!*/


/*修改角色卡表单*/
.D35E.sheet .sheet-navigation {
    flex: 0 0 30px;
    margin-bottom: 5px;
    font-family: "medium","Nodesto", "Signika", "Palatino Linotype", serif !important;
    font-size: 20px;
}

/*!*修改角色卡属性字体高低*!*/
.D35E.sheet.actor h4.box-title {
    line-height: 20px !important;
    font-size: 14px !important;
}

/*修改角色卡属性边栏*/
.D35E.sheet.actor .ability-scores-simple h4 {
    line-height: 45px;
    font-size: 19px !important;
    font-family: "bold","Nodesto", "Signika", "Palatino Linotype", serif !important;
}

/*修改角色卡属性基础*/
.D35E.sheet.actor .ability-scores-simple .ability-base-simple {
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    font-family: "bold","Nodesto", "Signika", "Palatino Linotype", serif !important;
    border: 2px groove #eeede0;
    border-radius: 4px;
    height: 34px;
    margin: 4px 0;
}

/*修改生命值*/
.D35E.sheet.actor ul.attributes li.attribute {
    height: 70px;
    margin: 0 5px;
    border: 2px groove #eeede0;
    border-radius: 4px;
    font-size: 18px !important;
    font-family: "medium","Nodesto", "Signika", "Palatino Linotype", serif !important;
    text-align: center;
}

/*修改生命值字体大小*/
.D35E.sheet.actor h4.box-title {
    font-size: 15px !important;
}
.D35E.sheet.actor ul.attributes li.attribute .attribute-value input {
    font-size: 17px !important;
}
.D35E.sheet.actor ul.attributes li.attribute .attribute-value div.attribute {
    font-size: 17px !important;
}

/*修改技能*/
.D35E.sheet.actor .details-skills-list .box-name {
    text-align: center;
    flex: none;
    height: 24px;
    line-height: 24px;
    font-size: 18px;
    margin: 4px 8px 2px;
    font-family: "regular","Nodesto", "Signika", "Palatino Linotype", serif !important;
}

/*修改休息*/
.D35E.sheet.actor ul.attributes a.rest {
    border-radius: 4px;
    height: 40px;
    display: block;
    margin: 0 5px 4px;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    font-family: "bold","Nodesto", "Signika", "Palatino Linotype", serif !important;
}

/*修改属性下的”基础“两个字*/
.D35E.sheet.actor .ability-scores-simple .ability-simple-header span {
    flex: 1;
    font-family: "regular","Nodesto", "Signika", "Palatino Linotype", serif !important;
}

/*修改临时生命和非致命*/
.D35E.sheet.actor ul.attributes li.attribute .attribute-footer {
    flex: 0 0 18px;
    margin-top: -1px;
    line-height: 18px;
    font-family: "regular","Signika", "Palatino Linotype", serif !important;
    font-size: 12px;
}
/*修改行动两个字*/
.D35E.sheet.actor .details-attack-simple .box-name {
    text-align: center;
    flex: none;
    height: 24px;
    line-height: 24px;
    font-size: 17px;
    margin: 4px 8px 2px;
    font-family: "regular","Nodesto", "Signika", "Palatino Linotype", serif !important;
}

/*!*————————属性——————————*!*/
/*修改左侧标题字*/
.D35E.sheet.actor h2.block-header {
    position: relative;
    flex: 0 0 20px;
    margin: 0.25rem;
    font-family: "regular","Nodesto", "Signika", "Palatino Linotype", serif !important;
    font-size: 18px !important;
    border: none;
    display: flex;
    align-items: center;
}

/*修改底下战技说明*/
.D35E.sheet textarea {
    font-family: "regular",sans-serif !important;
}

/*!*————————战斗——————————*!*/
/*战斗属性字体类型*/
.D35E.sheet.actor h3.block-header {
    font-family: "regular","Nodesto", "Signika", "Palatino Linotype", serif !important;
}

/*战斗数字大小*/
.D35E.sheet.actor ul.attributes li.attribute .attribute-value span.large {
    font-size: 22px !important;
}

/*!*————————库存——————————*!*/

/*货币类型文字*/
.D35E.sheet.actor .inventory-filters h3, .D35E.sheet.actor .inventory-filters .filter-title {
    font-family: "regular","Nodesto", "Signika", "Palatino Linotype", serif !important;
    font-size: 15px !important;
    color: #4b4a44;
    margin: 0;
}

/*物品标题名字大小*/
h3 {
    display: block;
    font-size: 16px;
    font-family: "bold", serif !important;
    margin-block-start: 0.25em;
    margin-block-end: 0.15em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
/*物品内部光字标题大小*/
.D35E .form-header {
    font-size: 16px !important;
}


/*!*————————特性——————————*!*/

/*职业名字*/
.D35E.sheet.actor h2.block-header {
    position: relative;
    flex: 0 0 20px;
    margin: 0.25rem;
    font-family: "bold","Nodesto", "Signika", "Palatino Linotype", serif !important;
    font-size: 18px !important;
    border: none;
    display: flex;
    align-items: center;
}

/*专长名字*/
.D35E.sheet .sheet-header h1 input {
    height: 50px;
    font-size: 35px;
    font-family: "bold","Nodesto", "Signika", "Palatino Linotype", serif !important;
}

.d35ecustom .sheet.item .header-details h1 input {
    color: #2C606D;
    margin: 0px 12px;
}

/*!*————————怪物卡——————————*!*/

/*!*挑战等级和HD*!*/
.D35E.sheet.actor .sheet-header .hd label {
    display: inline;
    font-size: 28px !important;
    text-align: right;
}

.D35E.sheet.actor .sheet-header .charlevel .level label {
    display: inline;
    font-size: 15px !important;
    text-align: right;
}

/*!*挑战等级和HD*!*/
.D35E.sheet.actor .sheet-header a.random-hp-roll {
    border-radius: 4px;
    height: 40px;
    display: block;
    margin: 0 5px 4px;
    line-height: 36px !important;
    text-align: center;
    font-size: 18px;
    font-family: "bold", "Signika", "Palatino Linotype", serif !important;
}

/*!*————————教程窗口——————————*!*/
.merienda {
    font-family: "zkklt", "Signika", "Palatino Linotype", serif;
}
.onboarding .dialogue .content {
    font-size: 16px;
}

.onboarding .dialogue .tip {
    font-family: "regular", "Palatino Linotype", serif;
    font-size: 14px;
}
